ul.sub-menu {
    @apply flex flex-wrap lg:bg-white  w-full lg:w-max lg:hidden lg:group-hover:block lg:absolute z-50 lg:mt-16 lg:rounded-b-xl lg:rounded-tr-xl lg:shadow-md  lg:divide-y divide-gray-200 overflow-hidden;
    .menu-item {
        @apply rounded-none hover:shadow-none hover:bg-gray-50;
        a {
            @apply lg:py-3 lg:pr-10 font-normal hover:text-yellow text-blue;
        }
    }
}
.menu-item {
    @apply font-bold rounded-xl xl:text-lg cursor-pointer;

    a {
        @apply py-3 px-6 lg:py-0 lg:px-4 xl:px-6 h-full flex items-center hover:text-yellow text-blue lg:hover:bg-none cursor-pointer;
    }
    &.button {
        @apply py-4 hover:bg-transparent shadow-none lg:pl-4;
        a {
            @apply mx-4 lg:mx-0 py-3 px-6 bg-blue hover:bg-opacity-80 rounded-xl lg:py-0 lg:px-4 xl:px-6 h-full flex items-center  text-white lg:hover:bg-none;
        }
    }
}

.menu-item-has-children {
    @apply relative flex flex-col rounded-b-none;
}

.gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.simple-scaling {
    @apply transform duration-300 ease-in-out hover:scale-102;
}

.custom-logo {
    @apply max-h-12 w-auto mx-2 inline;
}
h1 {
    @apply text-5xl font-semibold mb-8 text-blue;
}

h2 {
    @apply text-3xl font-semibold;
}

h3 {
    @apply text-2xl font-medium;
}

main {
    ul:not([class]) {
        @apply list-disc pl-5 space-y-1;
    }

    ol:not([class]) {
        @apply list-decimal pl-5 space-y-1;
    }

    li:not([class]) {
        @apply pl-2 leading-relaxed;
    }
}

.hypens {
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

article {
    p,
    h2,
    h3,
    hr.wp-block-separator {
        @apply m-0 leading-relaxed;
    }

    .wp-block-columns {
        @apply mb-0;
    }
    .article-content {
        @apply space-y-6;
    }
}

article.pfarrnachrichten {
    @apply space-y-4;
}

.page-numbers {
    @apply transform duration-300 ease-in-out hover:scale-102;
    @apply text-lg py-2 px-4 mr-2 rounded-lg shadow hover:shadow-md bg-white;
}
span.page-numbers {
    @apply font-bold hover:shadow;
}

.entry-content,
.block-editor-block-list__layout {
    p,
    ul,
    ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.wp-block-buttons {
    .wp-block-button {
        @apply mb-4;
    }
}

// SLIDER
.slides {
    @apply rounded-2xl overflow-hidden;
    .slide {
        img {
            @apply object-cover;
        }
        .sf-6-slide-title {
            @apply text-2xl font-semibold;
        }
    }
}

//Contact form
.wpcf7-form {
    @apply relative bg-white rounded-2xl shadow-lg p-8 pt-6 mb-8;
    section {
        @apply flex flex-col lg:flex-row space-x-0 lg:space-x-4 w-full;
    }
    label {
        @apply w-full relative;
        span {
            @apply block mb-4;
            input,
            textarea {
                @apply mt-1 block  w-full rounded-md border-gray-300 shadow-sm focus:border-blue focus:ring-0;
            }
            .wpcf7-not-valid {
                @apply border-red-700;
            }
            .wpcf7-not-valid-tip {
                @apply text-sm text-red-700 absolute right-0;
            }
        }
    }
    .wpcf7-spinner {
        @apply absolute bottom-10 right-4;
    }
    .wpcf7-response-output {
        @apply rounded text-gray-700 text-center border;
    }

    .wpcf7-submit {
        @apply mx-auto text-lg cursor-pointer w-full lg:w-1/3 block rounded-md px-4 py-2 bg-blue hover:bg-opacity-80 text-white font-semibold shadow;
    }
}

.button {
    @apply py-3 px-6 hover:bg-opacity-80 rounded-xl align-middle;
}

.button-primary {
    @extend .button;
    @apply bg-blue text-white font-medium;
}
.button-second {
    @extend .button;
    @apply bg-yellow text-white font-medium;
}

.comment-list {
    @apply space-y-4;
}

.comment-respond,
.comment-form {
    @apply space-y-4;
}
.comment {
    @apply border-l-4 border-blue-200 px-4 my-2;
    article {
        @apply space-y-2;
        footer {
            .comment-author {
                .avatar {
                    @apply h-16 w-16 rounded-full inline-block mr-4;
                }
            }
            .comment-metadata {
                @apply text-gray-500 text-xs;
            }
        }
        .reply {
            @apply text-yellow text-sm;
        }
    }
}
